*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.inter-tight{
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}
nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
    
}
nav ul a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: medium;
}
.logo img{
    margin-top: 16px;
    margin-left: 120px;
    margin-bottom: 16px;
    
}
.btn_nav{
    padding: 16px 12px;
    margin-right: 120px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 650;
    border-radius: 4px;
    cursor: pointer;
}
.btn_nav:hover{
    background-color:#15271c ;
}
.hero{
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 134px;
    padding-top: 70px;
}
.hero h1{
     padding-top: 16px;
     padding-bottom: 16px;
     color: #FFFFFF;
     font-size: 72px;
     font-weight: 700;
     line-height: 84px;
     
}
span{
    color: #30B868;
}

.hero p{
    color: #FFFFFF;
    padding-bottom: 32px;
    margin: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.chk{
    width: 229px;
    height: 35px;
    background-color: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.chk p{
    color: #469165;
    font-weight: 500;
    margin-top: 5px;
}

.left_btn{
    padding: 16px 12px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}
.left_btn:hover{
    background-color: #15271c;
}

.right_btn{
    padding: 16px 12px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    margin-left: 16px;
}
.right_btn:hover{
    background-color: #15271c;
}
.fail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 36px;
}
.fail h1{
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 700;
}
.fail p{
    font-weight: 400;
    line-height: 20px;
    color: #627382;
}
.c_logo{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 36px;


}
.card1{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    margin-top: 36px;
    text-align: center;
}

.card h1{
    font-weight: 600;
    font-size: 24px;
    margin-top: 16px ;
    margin-bottom: 16px;
}
.card p{
    font-weight: 400;
    line-height: 20px;
}
.brain{
    padding: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brain_content{
    width: 416px;
    margin-top: 100px;
}
.brain_content p{
    font-weight: 500;
    line-height: 20px;
    font-style: medium;
    color: #469165;

}
.brain_content h1{
    font-size: 40px;
    margin-bottom: 24px;
    font-weight: bold;
}
.brain_content span p{
    color: #627382 ;
    margin-bottom: 40px;
    
}
.brain_content ul{
    line-height: 40px;
    color: #000000;
    list-style: none;
}
.think{
    background-color: #F7F6F2;  
    margin: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.think_content h1{
font-size: 40px;
font-weight: bold;
color: #001931;
padding-bottom: 16px;
}
.think_content p{
    line-height: 24px;
    color: #627382;
    padding-bottom: 24px;
}
.think_content button{
    padding: 16px 12px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 650;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 16px;
}
.think_content button:hover{
    background-color:#15271c ;
}
.think_content{
    margin: auto;
    padding: 50px;
    text-align: center;
}
footer{
    background-color: #001931;
}
.f_up{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 120px;
    padding-top: 120px;
    padding-bottom: 64px;
}
.s_icon p{
    font-weight: 500;
    font-size: 20px;
    color: white;
}
.i{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons{
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;
    margin-top: 16px;
    margin-right: 30px;
    gap: 15px;
    
}
hr{
    margin: 0 120px;
    border: none;
    height: 1px;
    background-color: rgb(175, 168, 168);
}
.f_copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: white;
    padding-bottom: 30px;
}
