*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}
nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
    
}
nav ul a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: medium;
}
.logo img{
    margin-top: 16px;
    margin-left: 120px;
    margin-bottom: 16px;
    
}
.btn-nav{
    padding: 16px 12px;
    margin-right: 120px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 650px;
    border-radius: 4px;
    cursor: pointer;
}
.btn-nav:hover{
    background-color:#15271c ;
}
