*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}
nav ul{
    display: flex;
    gap: 32px;
    list-style: none;
    
}
nav ul a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-weight: medium;
}
.logo img{
    margin-top: 16px;
    margin-left: 120px;
    margin-bottom: 16px;
    
}
.btn-nav{
    padding: 16px 12px;
    margin-right: 120px;
    background-color: #469165;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    font-weight: 650px;
    border-radius: 4px;
    cursor: pointer;
}
.btn-nav:hover{
    background-color:#15271c ;
}
.hero{
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
    margin: auto;
    padding-bottom: 134px;
    padding-top: 70px;
}
.hero h1{
     padding-top: 16px;
     padding-bottom: 16px;
     color: #FFFFFF;
     font-size: 72px;
     font-weight: 700px;
     line-height: 84px;
     
}
span{
    color: #30B868;
}

.hero p{
    color: #FFFFFF;
    padding-bottom: 32px;
    margin: auto;
    font-size: 18px;
    font-weight: 400px;
    line-height: 24px;
}

.chk{
    margin: auto;
    border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight:500;
  color: #469165;
    height: 35px;
    width: 229px;
    background-color: white;
    margin-top: 70px;
}
.chk p{
    color: #469165;
}

.left_btn{
    padding: 16px 12px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600px;
    cursor: pointer;
}
.left_btn:hover{
    background-color: #15271c;
}

.right_btn{
    padding: 16px 12px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 600px;
    cursor: pointer;
    margin-left: 16px;
}
.right_btn:hover{
    background-color: #15271c;
}
.fail{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 36px;
}
.fail h1{
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 700px;
}
.fail p{
    font-weight: 400px;
    line-height: 20px;
    color: #627382;
}
.c_logo{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #F95555;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 36px;


}
.card1{
  display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
    margin-top: 36px;
    text-align: center;
}

.card h1{
    font-weight: 600;
    font-size: 24px;
    margin-top: 16px ;
    margin-bottom: 16px;
}
.card p{
    font-weight: 400px;
    line-height: 20px;
}
